# ignore everything except .gitignore
/*
!.gitignore

# reinclude specific conf dirs
!btop/
!fuzzel/
!kitty/
!mako/
!niri/
!nvim/
!scripts/
!swayidle/
!swaylock/
!swayosd/
!swayr/
!waybar/

# reinclude specific files
!pavucontrol.ini
!starship.*

# reexclude specific dirs
DankMaterialShell/plugins
niri/dms

#reexclude specific files
DankMaterialShell/firefox.css
*.log