// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        numlock
    }

    // libinput settings.
    touchpad {
        tap
    }

    mouse {}

    trackpoint {}

    focus-follows-mouse max-scroll-amount="0%"
}

// === OUTPUTS ===
//output "eDP-1" {
//    position x=0 y=0
//}

//output "DP-2" {
//    position x=-960 y=-1080
//}

//output "DP-4" {
//    position x=960 y=-1080
//}


// === LAYOUT ===
layout {
    // window gaps
    gaps 5
    
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    // focus ring appearance
    focus-ring {
        // off

        width 2
        // active-color "#7fc8ff"
        // inactive-color "#505050"
        active-gradient from="#505050" to="#7fc8ff" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // border appearance
    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}

prefer-no-csd

cursor {
  // xcursor-theme "Sunity-cursors-white"
  xcursor-theme "Sunity-cursors"
  xcursor-size 28
  hide-when-typing
}

overview {
    backdrop-color "#363a4f"
}

// === STARTUP ===
spawn-at-startup "swayosd-server"
spawn-at-startup "niriswitcher"
spawn-at-startup "appimagelauncherd"
spawn-at-startup "kitty"
spawn-at-startup "kitty"
spawn-at-startup "1password"
spawn-at-startup "cursor"
spawn-sh-at-startup "flatpak run com.slack.Slack"
spawn-sh-at-startup "flatpak run dev.vencord.Vesktop"
spawn-sh-at-startup "flatpak run org.signal.Signal"
spawn-sh-at-startup "flatpak run md.obsidian.Obsidian"
spawn-sh-at-startup "swaybg -i ~/.config/wallpapers/pb5d9d1uif1d1.jpeg"
spawn-sh-at-startup "swayidle -C ~/.config/swayidle/swayidle.conf"



hotkey-overlay {
    // skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// === WORKSPACES ===
// main screen
workspace "communication" {
    open-on-output "eDP-1"
}

workspace "misc" {
    open-on-output "eDP-1"
}

// left screen
workspace "notes" {
    open-on-output "DP-2"
}

workspace "hackerman" {
    open-on-output "DP-2"
}

workspace "work-browser" {
    open-on-output "DP-2"
}

workspace "utility" {
    open-on-output "DP-2"
}

// right screen
workspace "code" {
    open-on-output "DP-4"
}

workspace "personal-browser" {
    open-on-output "DP-4"
}

// === WINDOW RULES ===
// main screen
window-rule {
    match app-id=r#"^Slack$"# at-startup=true
    match app-id=r#"^vesktop$"# at-startup=true
    match app-id=r#"^org\.signal\.Signal$"# at-startup=true
    open-on-workspace "communication"
}

window-rule {
    match app-id=r#"^1password$"# at-startup=true
    exclude title=r#"^Quick Access — 1Password$"#
    open-on-workspace "misc"
}

// left screen
window-rule {
    match app-id=r#"^kitty$"# at-startup=true
    open-on-workspace "hackerman"
}

// TODO: add zen work profile window rule
//window-rule {
//    match app-id=r#"^$"# at-startup=true
//    open-on-workspace "work-browser"
//}

window-rule {
    match app-id=r#"^obsidian$"# at-startup=true
    open-on-workspace "notes"
}


// right screen
window-rule {
    match app-id=r#"^Cursor$"# at-startup=true
    open-on-workspace "code"
}

// TODO: add zen personal profile window rule
//window-rule {
//    match app-id=r#"^$"# at-startup=true
//    open-on-workspace "work-browser"
//}

// force floating windows
window-rule {
    match app-id=r#"^AppImageLauncher$"# title=r#"Desktop Integration"#
    open-floating true
}


// block screen capture
window-rule {
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^org\.signal\.Signal$"#
    match app-id=r#"^1password$"#

    block-out-from "screen-capture"
}

// enable rounded corners for all windows
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}


// === LAYER RULES ===
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}


// === ANIMATIONS ===
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=500 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// not released yet
//recent-windows {
//    // off
//    debounce-ms 750
//
//    open-delay-ms 150
//
//    highlight {
//        active-color "#999999ff"
//        urgent-color "#ff9999ff"
//        padding 30
//        corner-radius 0
//    }
//
//    previews {
//        max-height 480
//        max-scale 0.5
//    }
//
//    binds {
//        Alt+Tab         { next-window; }
//        Alt+Shift+Tab   { previous-window; }
//        Alt+grave       { next-window     filter="app-id"; }
//        Alt+Shift+grave { previous-window filter="app-id"; }
//
//        Mod+Tab         { next-window; }
//        Mod+Shift+Tab   { previous-window; }
//        Mod+grave       { next-window     filter="app-id"; }
//        Mod+Shift+grave { previous-window filter="app-id"; }
//    }
//}


// === KEYBINDS ===
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+T hotkey-overlay-title="Open a Terminal" { spawn "kitty"; }
    Ctrl+Space hotkey-overlay-title="Application Launcher" { spawn "fuzzel"; }

    // app switcher (replace with native one when released)
    // Alt+Tab hotkey-overlay-title="Switch windows" { spawn-sh "/home/mike/.config/scripts/niri-fuzzel-switcher"; }
    Alt+Tab hotkey-overlay-title="Switch windows" repeat=false { spawn-sh "niriswitcherctl show --window"; }
    Alt+Shift+Tab hotkey-overlay-title="Switch windows" repeat=false { spawn-sh "niriswitcherctl show --window"; }

    Ctrl+Shift+Space hotkey-overlay-title="1Password quick access" { spawn-sh "1password --quick-access"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    //XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+"; }
    //XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    //XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    //XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // audio
    XF86AudioRaiseVolume   allow-when-locked=true { spawn-sh "swayosd-client --output-volume 1"; }
    XF86AudioLowerVolume   allow-when-locked=true { spawn-sh "swayosd-client --output-volume -1"; }
    XF86AudioMute          allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    //XF86AudioMicMute     allow-when-locked=true { spawn-sh ""; }
    //XF86MonBrightnessUp  allow-when-locked=true { spawn-sh "swayosd-client --brightness raise"; }
    //XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "swayosd-client --brightness lower"; }

    // brightness 
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // window navigation
    Mod+Tab repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Right { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // mouse navigation
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // window size
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // toggle window modes 
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    // screenshots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // session management 
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "swaylock"; }
    Super+Alt+S hotkey-overlay-title="Suspend" { spawn-sh "swaylock -f && systemctl suspend"; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // power off monitors
    Mod+Shift+P { power-off-monitors; }
}


// === INCLUDES ===
// dms includes
//include "alttab.kdl"
//include "binds.kdl"
//include "colors.kdl"
//include "layout.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"
include "dms/alttab.kdl"

// === DEBUG ===
// enable notification actions and window activation from noctalia
debug {
  honor-xdg-activation-with-invalid-serial
}
